.profile-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    object-fit: cover;
    background-color: transparent;
    transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container-wrap {
    max-width: 80vw;
    width: 100%;
    overflow: hidden;
}