.container-main {
    height: 100%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
}

.content-header {
    height: 10rem;

}

.content-direction {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 0.4rem;
    border-bottom: 1px solid black;
    display: inline-block;
    text-transform: uppercase;
}

.movie {
    font-size: 1.5rem;
    font-weight: 400;
}

.content-movies {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
    justify-content: space-evenly;
    align-content: space-between;
    align-items: flex-start;
    gap: 4rem 2rem;
    padding: 4rem 0rem;
}

@media only screen and (max-width: 1366px){
    .content-movies {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 23rem));
        justify-content: space-around;
        gap: 4rem 1.5rem;
    }
}

@media only screen and (max-width: 1366px){
    .content-movies {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 19rem));
        gap: 4rem 1rem;
    }
}

.pageNavigation-container {
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-areas: 
    "pref none next"
    ;
}
