.profile-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    object-fit: cover;
    background-color: transparent;
    transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container-wrap {
    max-width: 70vw;
    width: 100%;
    overflow: hidden;
}

.slick-prev {
    left: 0 !important;
    z-index: 1;
  }
  .slick-next {
    right: 1% !important ;
    z-index: 1;
  }

  .slick-list {
      margin: 0 auto;
      width: 95%;
  }
  .slick-slider{
      padding-left: 2rem;
  }