.movieDetail-container {
    width:inherit;
    height: 100%;
    background-color: chartreuse;
    padding: 5rem 3rem;
    flex-direction: column;
}

.movieDetail-informations {
    background-color: khaki;
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 0 8rem 4rem;
}

.movieDetail-img {
    display: flex;
    align-self: center;
    justify-content: center;
}

.movieDetail-img img {
    width: 400px; 
    height: 600px;   
    border-radius: 12px;
}

.movieDetail-infos {
    padding: 4rem 2rem 2rem;
    min-width: 500px;
}

.movieDetail-infos h3 {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 0.8rem;
}

.original-title{
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.tagline {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.rating-stats-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.stats {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.rating {
    letter-spacing: 1px;
    font-weight: 700;
}

.genrelist {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 1rem;
    margin-bottom: 2rem;
}

.plot {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5;
}